.icon-news {
 	background-image: url(../images/16Icon/iconews.gif) !important;
}
.icon-more {
 	background-image: url(../images/16Icon/more.gif) !important;
}
.icon-add {
 	background-image: url(../images/16Icon/add.png) !important;
}
.icon-accept {
 	background-image: url(../images/16Icon/accept.png) !important;
}
.icon-edit {
    background-image: url(../images/16Icon/cog_edit.png) !important;
}
.icon-delete {
    background-image: url(../images/16Icon/delete.png) !important;
}
.icon-stat{
 	background-image: url(../images/16Icon/stat.png) !important;
}
.icon-cchart{
 	background-image: url(../images/16Icon/chart_bar.png) !important;
}
.icon-showall{
 	background-image: url(../images/16Icon/plugin.gif) !important;
}
.icon-excel{
 	background-image: url(../images/16Icon/excel.png) !important;
}
.icon-refresh{
 	background-image: url(../images/16Icon/refresh.png) !important;
}
.icon-reload{
 	background-image: url(../images/16Icon/reload.png) !important;
}
.icon-annoc{
 	background-image: url(../images/16Icon/annoc.png) !important;
}
.icon-message{
 	background-image: url(../images/16Icon/message.png) !important;
}
.icon-tips{
 	background-image: url(../images/16Icon/Tips.png) !important;
}
.icon-clock{
 	background-image: url(../images/16Icon/clock.png) !important;
}
.icon-rss{
 	background-image: url(../images/16Icon/rss.gif) !important;
}
.icon-rss_delete{
 	background-image: url(../images/16Icon/rss_delete.gif) !important;
}
.icon-find{
 	background-image: url(../images/16Icon/find.png) !important;
}
.icon-advancesearch{
    background-image: url(../images/16Icon/advancesearch.png) !important;
}
.icon-searchdoc {
    background-image: url(../images/16Icon/searchdoc.png) !important;
}
.icon-rightArrow {
    background-image: url(../images/16Icon/rightArrow.png) !important;
}
.icon-rightArrow2 {
    background-image: url(../images/16Icon/rightArrow2.png) !important;
}
.icon-leftArrow {
    background-image: url(../images/16Icon/leftArrow.png) !important;
}
.icon-leftArrow2 {
    background-image: url(../images/16Icon/leftArrow2.png) !important;
}
.icon-topArrow {
    background-image: url(../images/16Icon/topArrow.png) !important;
}
.icon-topArrow2 {
    background-image: url(../images/16Icon/topArrow2.png) !important;
}
.icon-downArrow {
    background-image: url(../images/16Icon/downArrow.png) !important;
}
.icon-downArrow2 {
    background-image: url(../images/16Icon/downArrow2.png) !important;
}
.icon-export {
    background-image: url(../images/16Icon/export.png) !important;
}
.icon-return {
    background-image: url(../images/16Icon/return.png) !important;
}
.icon-right {
    background-image: url(../images/16Icon/dataaudit.png) !important;
}